.main--nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 80px;
    gap: 50px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    transition: all .3s ease-in-out;
}

.main--nav--parkname{
    margin-right: auto;
}

.main--main{
    padding-top: 80px;
    min-height: calc(100vh - 80px);
    background-color: #f5f5f5;
}

.main--kolejki--title{
    text-align: center;
}

.main--kolejki--img{
    width: 200px;
    height: 170px;
    object-fit: cover;
}

.main--kolejki--element{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin: 20px;
    background-color: lightblue;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    transition: all .3s ease-in-out;
}

.main--kolejki--grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
    padding: 20px;
}